<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>InetBankingV1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>21/04/21 16:43:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:0, instance:inetbankingV1.loginPage.LoginPageTest@146ba0ac]">loginTest</td> 
  <td>main@852445367</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>21/04/21 16:43:28</td>   <td>-19181</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:inetbankingV1.loginPage.LoginPageTest@146ba0ac]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@852445367</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>21/04/21 16:43:50</td>   <td>2289</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:inetbankingV1.loginPage.LoginPageTest@146ba0ac]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@852445367</td>   <td></td> </tr>
</table>
